
Attached is a PDF copy of your invoice from EON Media Group for
= "$#{@invoice.formatted_final_amount} USD."
        
Please don't hesitate to contact us if you have any questions or concerns.


Best regards,
EON Media Group (invoices@eonmediagroup.com)