
html {
  color: #363636;
  font-family: 'Trebuchet MS', Arial, serif;
  height: 100%;
}

body {
  min-height: 100%;
}

h1, #logo {
  font-family: 'Rosario', sans-serif;
}

h1 {
  display: block;
  font-size: 26px;
  font-weight: 700;
  text-shadow: 0 1px #F4F4F4;
}

a {
  color: #ed5e11;
}

#page, #nav, #global {
  width: 994px;
}

#page {
  margin: 25px auto;
  padding: 16px 0;
  position: relative;
}

#login #page {
  width: 334px;
  margin: 125px auto 0 auto;
  padding: 16px 0 26px 0;
}

#header {
  text-shadow: 0 1px #F4F4F4, 0 -1px #363636;
  color: #b9b9b9;
  margin: 0 0 2px 0;
}

#header section {
  padding: 25px 25px 30px 25px;
}

#logo {
  font-size: 24px;
  font-weight: 700;
}

#content {
  padding: 75px 25px 25px 25px;
}

#login #content {
  padding: 25px;
}

#limit {
  padding: 20px 0 0 0;
}

#nav {
  position: absolute;
  top: 0;
  left: 0;
}

#global {
  position: absolute;
  top: 100px;
  background-color: #4C4C4B;
}

#global ul {
  padding: 6px 12px;
  height: 19px;
}

#global ul li {
  float: left;
  border-right: 2px solid #ed5e11;
}

#global ul li.last {
  border-right: none;
}

#global a {
  text-decoration: none;
  padding: 6px 6px;
}

#global a:hover {
  background-color: #babAba;
}

#universal {
  position: absolute;
  top: 24px;
  right: 14px;
  text-align: right;
  font-size: 12px;
  letter-spacing: 1px;
}

#universal ul {
  width: 500px;
  text-align: right;
}

#universal ul li {
  float: right;
  border-right: 1px solid #555;
  padding: 0 5px;
}

#universal ul li.last {
  border-right: none;
}

#footer {
  color: #ddd;
  padding: 20px;
}

.strong {
  font-weight: bold;
}

.clear {
  clear: both;
}

.small {
  font-size: 12px;
}

.small em {
  font-style: italic;
}

.not-found {
  color: #888;
}

.error {
  color: #a33;
}

.success {
  color: #3a3;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.float-right {
  float: right;
}

.delete {
  background-color: #c55;
  color: #fff;
  padding: 0 10px;
  height: 34px;
}

.add {
  background-color: #5c5;
  color: #fff;
  padding: 0 10px;
  height: 34px;
}

.required {
  border-left: 5px solid #c55;
}

#flash {
  padding: 0 0 16px 0;
}

.form-item {
  margin: 0 0 5px 0;
  height: 40px;
  clear: both;
}

.form-item textarea {
  resize: none;
  width: 275px;
  height: 125px;
  color: #222;
  padding: 2px 6px;
}

.form-item.text {
  height: 40px;
}

.form-item.block {
  height: 150px;
}

.form-item.auto-title label {
  display: none;
}

.form-item.text label,
.form-item.block label {
  display: block;
  padding: 2px 20px;
}

.form-item.text label.inline {
  float: left;
  width: 100px;
  text-align: right;
  padding: 8px 20px;
}

.form-item.right label.inline {
  float: none;
  display: inline;
}

.form-item.auto-title input,
.form-item.text input {
  color: #222;
  padding: 2px 6px;
  height: 26px;
}

.form-item.auto-title input,
.form-item.text input,
.form-item.block textarea,
.form-item input.add,
.form-item input.delete {
  margin: 0 0 0 5px;
}

.form-item select {
  margin: 8px 0 0 5px;
  width: 270px;
}

.form-item.auto-title input,
.form-item.text input {
  width: 250px;
}

.form-item.auto-title input.example {
  color: #999;
}

/* =Table
-------------------------------------*/

.list {
  width: 100%;
  margin: 25px 0 0 0;
}

.list th {
  font-weight: bold;
  padding: 3px 4px;
}

.list td {
  padding: 2px 4px;
}

.list tr.odd {
  background-color: #e0e0e0;
}

.list tr.even {
  background-color: #efefef;
}

.list tr.headers {
  background-color: #4C4C4B;
  color: #eee;
}